@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}


.carousel-item img{
    height: 25em;
}

.story-div h1, h3, p{
    font-family: 'Montserrat';
    
}

.story-div h1{
    margin-top: 1em;
    margin-bottom: 1em;
}
.story-div p{
    margin-bottom: 3em;
}
.story-div h3{
    font-weight: bold;
}

.story-div h1{
    font-weight: bold;
    color: blue;
}

.story-div{
    text-align: center;
}