@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}



@media (min-width:320px)  {
    /* smartphones, iPhone, portrait 480x320 phones */ 
    
    .home-content{
        margin-top: 150px;
    }
    .welcome-container h1{
        margin-left: 30px;
        margin-right: 15px;
        padding-top: 80px;
        font-size: 30px;
        font-family: 'Montserrat';
        font-weight: bold;
        color: #03256C;
    }
    .welcome-container p{
        font-size: 12px;
        font-family: 'Montserrat';
    }

    .ceo-mobile-photo{
        display: block;
    }

    .ceo-mobile-photo img{
        width: 100px;
    }

    .ceo-desktop-photo{
        display: none;
    }

    .services-div{
        margin: 50px;
        align-items: center;
    }
    .services-div h1{
        font-weight: bold;
        font-family: 'Montserrat';
        color: rgb(41, 120, 181);
        text-align: center;
        font-size: 50px;
        margin-bottom: 80px;
    }
    
    .carousel-div{
        padding-bottom: 20px;
        background-color: rgba(0, 97, 168,1);
    }
    


     /* top */
     .custom-shape-divider-bottom-1624052802 {
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1624052802 svg {
        position: relative;
        display: block;
        width: calc(100% + 1px);
        height: 80px;
    }
    
    .custom-shape-divider-bottom-1624052802 .shape-fill {
        fill: #0061A8;
    }

    /* Bottom */
    .custom-shape-divider-top-1624052858 {
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1624052858 svg {
        position: relative;
        display: block;
        width: calc(100% + 1px);
        height: 80px;
    }
    
    .custom-shape-divider-top-1624052858 .shape-fill {
        fill: #0061A8;
    }

    /**/
    .custom-shape-divider-bottom-1624053833 {
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1624053833 svg {
        position: relative;
        display: block;
        width: calc(115% + 1.3px);
        height: 124px;
    }
    
    .custom-shape-divider-bottom-1624053833 .shape-fill {
        fill: #FFE6E6;
    }

    .braches-div{
        background-color: #FFE6E6;
        padding: 10px;
    }
    

    /**/
    .custom-shape-divider-top-1624055584 {
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1624055584 svg {
        position: relative;
        display: block;
        width: calc(115% + 1.3px);
        height: 124px;
    }
    
    .custom-shape-divider-top-1624055584 .shape-fill {
        fill: #FFE6E6;
    }
}




@media (max-width: 500px){


}

@media (min-width: 667)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .home-content{
        margin-top: 100px;
    }
    .welcome-container p{
        padding-top: 30px;
        font-size: 15px;
        font-family: 'Montserrat';
    }
    .welcome-container h1{
        font-size: 50px;
        font-family: 'Montserrat';
        font-weight: bold;
        color: #03256C;
    }

    .ceo-mobile-photo{
        display: none;
    }

    .ceo-desktop-photo{
        display: block;
    }
}

@media (min-width:961px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .home-content{
        margin-top: 100px;
    }
    .welcome-container p{
        padding-top: 30px;
        font-size: 15px;
        font-family: 'Montserrat';
    }
    .welcome-container h1{
        color: #03256C;
        font-size: 50px;
        font-family: 'Montserrat';
        font-weight: bold;
    }

    .ceo-mobile-photo{
        display: none;
    }

    .ceo-desktop-photo{
        display: block;
    }

}

@media (min-width: 997px) {
    .home-content{
        margin-top: 200px;
    }
    .welcome-container h1{
        font-size: 50px;
        font-family: 'Montserrat';
        font-weight: bold;
    }
}

@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */  
    .home-content{
        margin-top: 200px;
    }
    .welcome-container p{
        padding-top: 30px;
        font-size: 15px;
        font-family: 'Montserrat';
    }
    .welcome-container h1{
        font-size: 50px;
        font-family: 'Montserrat';
        font-weight: bold;

    }

    .ceo-mobile-photo{
        display: none;
    }

    .ceo-desktop-photo{
        display: block;
    }

    .services-div{
        margin: 70px;
        align-items: center;
    }
    .services-div h1{
        font-weight: bold;
        font-family: 'Montserrat';
        color: rgb(41, 120, 181);
        text-align: center;
        font-size: 80px;
        margin-bottom: 80px;
    }

    .carousel-div{
        padding-bottom: 20px;
    }
    .carousel-div{
        background-color: rgba(0, 97, 168,1);
    }
    
    .welcome-container h1{
        color: #03256C;
    }
    
    /* top */
    .custom-shape-divider-bottom-1624052802 {
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1624052802 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 124px;
    }
    
    .custom-shape-divider-bottom-1624052802 .shape-fill {
        fill: #0061A8;
    }

    /* Bottom */
    .custom-shape-divider-top-1624052858 {
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1624052858 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 124px;
    }
    
    .custom-shape-divider-top-1624052858 .shape-fill {
        fill: #0061A8;
    }



    .custom-shape-divider-bottom-1624053833 {
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1624053833 svg {
        position: relative;
        display: block;
        width: calc(115% + 1.3px);
        height: 124px;
    }
    
    .custom-shape-divider-bottom-1624053833 .shape-fill {
        fill: #FFE6E6;
    }

    .braches-div{
        background-color: #FFE6E6;
        padding: 100px;
    }

    /**/
    .custom-shape-divider-top-1624055584 {
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1624055584 svg {
        position: relative;
        display: block;
        width: calc(115% + 1.3px);
        height: 124px;
    }
    
    .custom-shape-divider-top-1624055584 .shape-fill {
        fill: #FFE6E6;
    }
    
}
@media (min-width:1281px) { 
    /* hi-res laptops and desktops */

    .home-content{
        margin-top: 500px;
    }
}
