
@media (min-width:320px)  {
  /* smartphones, iPhone, portrait 480x320 phones */ 
  .carousel-container img{
    width: inherit;
    height: 200px;
  }
  .carousel-container{
    width: 90%;
    margin-left: 5%;
  }
  
}
@media (min-width: 667)  { 
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
}

@media (min-width:1025px) { 
  /* big landscape tablets, laptops, and desktops */  
  .carousel-container{
    width: 80%;
    margin-left: 10%;
  }
  
  
  .carousel-container img{
    width: inherit;
    height: 550px;
  }
  
}
@media (min-width:1281px) { 
  /* hi-res laptops and desktops */
}
